<form [formGroup]="movieForm" class="example-form">
    <div style="display: flex;">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Movie title</mat-label>
            <!-- <input matInput placeholder="Titanic" formControlName="name"> -->
            <input type="text"
                placeholder="Select a film"
                aria-label="Movie title"
                formControlName="id"
                matInput
                [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)='addMovie($event.option.value)' class="single-autocomplete" #auto="matAutocomplete" [displayWith]="getTitle.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                <div class="mat-container">
                    <img [style.background-image]='option.image | async'>
                    <div style="width: 0px;">
                        <p style="line-height: 50px;font-weight: bold;">{{option.title}}</p>
                        <p style="line-height: 0px;font-size: 0.8em;">{{option.release_year}}</p>
                    </div>
                </div>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>

<mat-list [@listAnimation]="selectedItems.length" class="list-horizontal" role="list">
    <mat-list-item role="listitem" *ngFor="let item of selectedItems">
        <div style="padding-top: 15px; padding-right: 5px;">
            <button style="position: absolute; top: 0; right: 0; z-index: 99;" type="button" (click)="removeTitle(item.id)" mat-mini-fab color="primary">
                <mat-icon>close</mat-icon>
              </button>
            <mat-card class="img-with-text">
                <span class="image-w">
                    <img [style.background-image]='item.image | async'>
                    <div class="cover">
                      <p>{{ item.description }}</p>
                    </div>
                </span>
                <p style="font-size: 1.2em;font-weight: bold;">{{item.title}}</p>
            </mat-card>
        </div>
    </mat-list-item>
</mat-list>

<div class="center">
    <mat-card style="margin-top: 64px;">
        <h1>{{selectedItems.length}} of max. 5 Movies selected</h1>
        <button [disabled]="recommendDisabled()" color="primary" type="button" class="clear-button" (click)="clearSelection()" mat-raised-button>
            <mat-icon>
                cleaning_services
        </mat-icon>
        Clear selection
        </button>
        <button [disabled]="recommendDisabled()" color="primary" type="button" class="recommend-button" (click)="onRecommendationClicked()" mat-raised-button>
            <mat-icon>
            play_circle
        </mat-icon>
        Recommend movies
        </button>
    </mat-card>
</div>
  