<form [formGroup]="movieForm" class="example-form">
    <div style="display: flex;">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Movie title</mat-label>
            <!-- <input matInput placeholder="Titanic" formControlName="name"> -->
            <input type="text"
                placeholder="Select a film"
                aria-label="Movie title"
                formControlName="id"
                matInput
                [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)='addMovie($event.option.value)' class="single-autocomplete" #auto="matAutocomplete" [displayWith]="getTitle.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                <div class="mat-container">
                    <img [src]='option.poster_path'>
                    <p>{{option.title}}</p>
                </div>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button [disabled]="recommendDisabled()" color="primary" type="button" (click)="onRecommendationClicked()" mat-button>Recommend</button>
    </div>
</form>

<mat-list [@listAnimation]="selectedItems.length" class="list-horizontal" role="list">
    <mat-list-item role="listitem" *ngFor="let item of selectedItems">
        <div style="padding-top: 15px; padding-right: 5px;">
            <button style="position: absolute; top: 0; right: 0; z-index: 99;" type="button" (click)="removeTitle(item.id)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>close</mat-icon>
              </button>
            <mat-card class="img-with-text">
                <span class="image-w">
                    <img [src]='item.poster_path'>
                    <div class="cover">
                      <p>{{ item.description }}</p>
                    </div>
                </span>
                <p style="font-size: 1.2em;font-weight: bold;">{{item.title}}</p>
            </mat-card>
        </div>
    </mat-list-item>
</mat-list>
  