.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 40px;
    margin-top: 50px;
  }
  
.example-full-width {
  width: 100%;
  background-color: rgba(69,69,69);
  border-radius: 5px;
  padding: 3px;
  color: white;
}

// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #e50914!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #e50914!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #e50914!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: #e50914!important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: #e50914!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #e50914!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(255,255,255,.6)!important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(255,255,255,.6)!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #e50914!important;
}

:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0;
}

.mat-container {
  height: 70px;
  flex: auto;
  display: flex;
}

.mat-container img {
  display: block;
  height: 70px;
  width: 46.66px;
  background-size: 100%;
  background-size: 100% 70px;
  background-repeat: no-repeat;
}

.mat-container p {
  margin-left: 6.5px;
}

.mat-option {
  height: 80px;
}

.list-horizontal {
    padding: 0;
    min-height: 410px;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
}

.clear-button {
  margin-right: 2%;
  width: 48%;
  margin-top: 25px;
  height: 45px;
}

.recommend-button {
  margin-left: 2%;
  width: 48%;
  margin-top: 25px;
  height: 45px;
}

.center {
  display: flex;
  background-color: transparent;
  justify-content: center;
}

.center mat-card{
  align-self: baseline;
  background-color: rgba(255, 255, 255, 0.8);
}


.img-with-text {
    border-radius: 20px;
    padding: 0px;
    background-color: rgba(255,255,255,0.9);
    height: 390px;
    text-align: justify;
    margin-left: 20px;
    width: [width of img];
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #ffffff1a;
}

.img-with-text span {
    display: block;
    margin: 0 auto;
    height: 330px;
    width: 220px;
}

.img-with-text p {
    width: 200px;
    margin-left: 6.5px;
    margin-top: 5px;
    text-align: center;
}

.thumbnail-list {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.thumbnail-list li {
  float: left;
}

span {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 16em;
}

.image-w img {
  display: block;
  height: 100%;
  width: 102%;
  background-size: 100% 334px;
  background-repeat: no-repeat;
  margin-left: -1%;
  margin-top: -1%;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.cover:hover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.cover p {
  font-size: 1em;
  padding: 8px;
  margin: 0px;
  position:relative;
  width: 90%;
  height:100%;
  overflow-x:hidden;
  overflow-y:hidden;
}