  .center {
    display: flex;
    background-image: url(../../../assets/img/wallpaper.jpg);
    justify-content: center;
    height: 100%;
  }
  
  
  .center mat-card{
    align-self: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
