<ng-container>
  <ng-container>
      <ng-container>
          <mat-toolbar color="primary" class="example-toolbar">
            <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">NETFLIX</h1>
          </mat-toolbar>
          <mat-sidenav-container class="example-container" autosize>
            <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
              <mat-nav-list>
                <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                  <span class="full-width" *ngIf="isExpanded || isShowing">Movie recommendation</span>
                  <mat-icon mat-list-icon>movie</mat-icon>
                </mat-list-item>
              </mat-nav-list>
              <mat-nav-list>
          </mat-nav-list>
            </mat-sidenav>
          
            <mat-sidenav-content>
              <router-outlet></router-outlet>
          </mat-sidenav-content>

          
          </mat-sidenav-container>
      </ng-container>
  </ng-container>
</ng-container>

