.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 40px;
    margin-top: 50px;
  }
  
  .example-full-width {
    width: 100%;
  }
.mat-container {
  height: 70px;
  flex: auto;
  display: flex;
}

.mat-container img {
  display: block;
  height: 70px;
  width: 46.66px;
}

.mat-container p {
  margin-left: 6.5px;
}

.mat-option {
  height: 80px;
}

.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
}

.img-with-text {
    border-radius: 20px;
    padding: 0px;
    background-color: rgba(255,255,255,0.9);
    height: 390px;
    text-align: justify;
    margin-left: 20px;
    width: [width of img];
}

.img-with-text span {
    display: block;
    margin: 0 auto;
    height: 330px;
    width: 220px;
}

.img-with-text p {
    width: 200px;
    margin-left: 6.5px;
    margin-top: 5px;
    text-align: center;
}

.thumbnail-list {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.thumbnail-list li {
  float: left;
}

span {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 16em;
}

#circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: absolute;
    bottom: 65px;
    right: 25px;
    z-index: 3;
    text-align: center;
    line-height: 70px;
    font-size: 1.2em;
    font-weight: bold;
  }

.recommend-button {
    margin-top: 25px;
    height: 50px;
    font-size: 1em;
  }

.image-w img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
  .center {
    display: flex;
    background-color: transparent;
    justify-content: center;
  }
  .center button{
    align-self: baseline;
  }

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
  z-index: 4;
}

.cover:hover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.cover p {
  font-size: 1em;
  padding: 8px;
  margin: 0px;
  position:relative;
  width: 90%;
  height:100%;
  overflow-x:hidden;
  overflow-y:hidden;
}